services:
  decoder:
    build:
      context: ./
      dockerfile: ./Dockerfile.ci
    command: ["/usr/bin/npm", "run", "ci"]
    environment:
      NODE_ENV: test
      KNEX_DRIVER: mysql2
      KNEX_DATABASE: test
      KNEX_HOST: mysql
      KNEX_USER: test
      KNEX_PASSWORD: test
      RUN_INTEGRATION_TESTS: "true"
    depends_on:
      - mysql
    volumes:
      - './src:/srv/service/src:ro'
      - './test:/srv/service/test:ro'
      - './.c8rc.json:/srv/service/.c8rc.json:ro'
      - './.eslintignore:/srv/service/.eslintignore:ro'
      - './.eslintrc.json:/srv/service/.eslintrc.json:ro'
      - './.prettierignore:/srv/service/.prettierignore:ro'
      - './.prettierrc.json:/srv/service/.prettierrc.json:ro'
      - './.mocharc.cjs:/srv/service/.mocharc.cjs:ro'
      - './mocha.setup.mjs:/srv/service/mocha.setup.mjs:ro'
      - './coverage:/srv/service/coverage'

  mysql:
    image: mariadb:latest@sha256:3ba727e641ef0ea24054e47c72a831b1067da32d5139c0405b629c25b115eb89
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_INITDB_SKIP_TZINFO: "1"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
