services:
  decoder:
    build:
      context: ./
      dockerfile: ./Dockerfile.ci
    command: ["/usr/bin/npm", "run", "ci"]
    environment:
      NODE_ENV: test
      KNEX_DRIVER: mysql2
      KNEX_DATABASE: test
      KNEX_HOST: mysql
      KNEX_USER: test
      KNEX_PASSWORD: test
      RUN_INTEGRATION_TESTS: "true"
    depends_on:
      - mysql
    volumes:
      - './src:/srv/service/src:ro'
      - './test:/srv/service/test:ro'
      - './.c8rc.json:/srv/service/.c8rc.json:ro'
      - './.eslintignore:/srv/service/.eslintignore:ro'
      - './.eslintrc.json:/srv/service/.eslintrc.json:ro'
      - './.prettierignore:/srv/service/.prettierignore:ro'
      - './.prettierrc.json:/srv/service/.prettierrc.json:ro'
      - './.mocharc.cjs:/srv/service/.mocharc.cjs:ro'
      - './mocha.setup.mjs:/srv/service/mocha.setup.mjs:ro'
      - './coverage:/srv/service/coverage'

  mysql:
    image: mariadb:latest@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_INITDB_SKIP_TZINFO: "1"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
