name: Integration Testing

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Integration Testing
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Create coverage directory
        run: install -d coverage -m 0777

      - name: Set up auth token
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > .npmrc.local

      - name: Run tests
        run: docker compose -f docker-compose-ci.yml up --build --abort-on-container-exit --renew-anon-volumes

      - name: Run codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          flags: integration-tests
