name: Integration Testing

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Integration Testing
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: Create coverage directory
        run: install -d coverage -m 0777

      - name: Set up auth token
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" > .npmrc.local

      - name: Run tests
        run: docker compose -f docker-compose-ci.yml up --build --abort-on-container-exit --renew-anon-volumes

      - name: Run codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: integration-tests
